
{{!< default}}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="/assets/img/logos/logo_tiny.png"/>
            <a class="navbar-brand" href="#home">europe • moving • image</a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://www.vimeo.com/europemovingimage" target="_blank"><i class="fa fa-vimeo-square fa-lg"></i></a>
                    <a href="https://twitter.com/EuMovingImage" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="http://plus.google.com/u/0/b/110601660133854258591" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a>
                    <a href="https://www.facebook.com/europemoving" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a></li>
                <li><a href="#call" data-localize="menu.europe"></a></li>
                <li><a href="#conditions" data-localize="menu.conditions"></a></li>
                <li><a href="#about" data-localize="menu.about"></a></li>
                <li>
                    <div class="langselect btn-group btn-group-xs">
                        <button type="button" data-lang="en" class="btn btn-default">en</button>
                        <button type="button" data-lang="fr" class="btn btn-default">fr</button>
                        <button type="button" data-lang="es" class="btn btn-default">es</button>
                        <button disabled type="button" data-lang="de" class="btn btn-default">de</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="intro-header" id="home">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="intro-message">
                    <h1 data-localize="title" class="loading"></h1>
                    <h3 data-localize="subtitle"></h2>
                    <div class="countdown"></div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="content-section-a" id="call">

    <div class="container">

        <div class="row">
            <div class="col-md-5">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading" data-localize="call.title">Call</h2>
                <p class="lead" data-localize="call.first"></p>
                <p class="lead" data-localize="call.second"></p>
                <p class="lead" data-localize="call.third"></p>
            </div>
<!--             <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/assets/img/carte.jpg" alt="">
            </div> -->
        </div>

    </div>

</div>


<div class="content-section-b" id="conditions">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <!--<hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">

                </h2>-->
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading" data-localize="form.title"></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-sm-6 col-sm-6">
                <p class="lead">
                    <ul data-localize="conditions"></ul>
                </p>
            </div>
            <div class="col-md-6 col-lg-offset-1">
                <!-- <div class="clearfix"></div> -->
                <div>

<!-- <form id="form" class="form-horizontal" role="form"> -->

<form class="form-horizontal" action="https://docs.google.com/forms/d/1L51Pq2VBTVFuZ-Ym1XsFbW4t4lIMPUWNvQ7GFsgjqwo/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">

<div class="form-group">
    <label for="input" class="col-md-3 control-label text-right">Name</label>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" name="entry.357757859" id="entry_357757859" placeholder="First Name" required>
    </div>
    <div class="col-md-5">
        <input type="text" class="form-control input-sm" name="entry.1192647375" id="entry_1192647375" placeholder="Last Name" required>
    </div>
</div>

<div class="form-group">
    <label for="input" class="col-md-3 control-label text-right">Birthdate</label>
    <div class="col-md-5">
        <input type="date" class="form-control input-sm" name="entry.1560426846" id="entry_1560426846" dir="auto" aria-label="Birth Date" aria-required="true" required>
    </div>
</div>

<div class="form-group">
    <label for="input" class="col-md-3 control-label">Email</label>
    <div class="col-md-5">
        <input type="email" class="form-control input-sm" name="entry.1052008402" id="entry_1052008402" placeholder="you@email.com" required>
    </div>
</div>
<div class="form-group">
    <label for="input" class="col-md-3 control-label">Address</label>
    <div class="col-md-9">
        <input type="text" class="form-control input-sm" name="entry.1451192912" id="entry_1451192912" placeholder="Your address" required>
    </div>
</div>
<div class="form-group">
    <div class="col-md-4 col-md-offset-3">
        <input type="text" class="form-control input-sm" name="entry.1620171405" id="entry_1620171405" placeholder="City" required>
    </div>
    <div class="col-md-5">
        <input type="text" class="form-control input-sm" name="entry.1799176386" id="entry_1799176386" placeholder="Country" required>
    </div>
</div>
<div class="form-group">
    <label for="input" class="col-md-3 control-label">Website</label>
    <div class="col-md-9">
        <input type="text" class="form-control input-sm" name="entry.335176714" id="entry_335176714" placeholder="http://your.website.com, or twitter account">
    </div>
</div>
<hr/>
<div class="form-group">
    <label for="input" class="col-md-3 control-label">Word</label>
    <div class="col-md-5">
        <input type="text" class="form-control input-sm" name="entry.175051657" id="entry_175051657" placeholder="The word you choosed" required>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" name="entry.1058682053" id="entry_1058682053" placeholder="Language" required>
    </div>
</div>
<div class="form-group">
    <label for="input" class="col-md-3 control-label">Title</label>
    <div class="col-md-9">
        <input type="text" class="form-control input-sm" name="entry.1186770144" id="entry_1186770144" placeholder="My little yellow Europe" required>
    </div>
</div>
<div class="form-group">
    <label for="input" class="col-md-3 control-label">Link</label>
    <div class="col-md-9">
        <input type="text" class="form-control input-sm" name="entry.117780312" id="entry_117780312" placeholder="Film link (vimeo, dropbox, google drive, ...)" required>
    </div>
</div>
<div class="form-group">
    <label for="input" class="col-md-3 control-label">Length</label>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" name="entry.2141829988" id="entry_2141829988" placeholder="8min 42s" required>
    </div>
</div>
<div class="form-group">
    <label for="input" class="col-md-3 control-label">Co-director(s)</label>
    <div class="col-md-9">
        <input type="text" class="form-control input-sm" name="entry.1754972630" id="entry_1754972630" placeholder="Mark Jorigh, Paul Glittuck, Göran Brust, ...">
    </div>
</div>

<div class="form-group">
    <label for="input" class="col-md-3 control-label">Synopsis</label>
    <div class="col-md-9">
        <textarea type="textarea" rows="3" class="form-control input-sm" name="entry.118662242" id="entry_118662242" placeholder="One or two paragraph(s)" required></textarea>
    </div>
</div>

<div class="form-group">
    <div class="col-md-6 col-md-offset-3 control-label">
        <input type="checkbox" name="entry.2020558658" id="group_2020558658_1" role="checkbox" value="i have read and accepted the conditions available on http://europemovingimage.eu" required> I've read & accepted the <a class='regl'>General Terms and Conditions</a>
    </div>
    <div class="col-md-1">
        <button type="submit" name="submit" class="btn btn-default">Submit</button>
    </div>
</div>


</form>

                </div>
            </div>
        </div>

    </div>

</div>

<div class="content-section-c" id="about">
    <div class="container">
        <div class="row">
<!--             <div class="col-lg-5 col-sm-6">
                <img class="img-responsive" src="/assets/img/plustot.jpg" alt="">
            </div> -->
            <div class="col-md-6 col-md-offset-6 about">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading" data-localize="abouttitle"></h2>
                <div data-localize="about"></div>
            </div>
        </div>
    </div>
</div>

<footer class="site-footer">
    <!--<a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>-->
    <div class="inner">
        <a href="http://www.jeunesseenaction.fr/" target="_blank"><img src="/assets/img/logos/peja_small.jpg"/></a>
        <img src="/assets/img/logos/logo.png"/>
        <!-- <section class="copyright">all content under CC !</section> -->
        <!--<section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>-->
    </div>
</footer>
